{
    "rules": {
        "strict": 0,
        "indent": [2, 4],
        "quotes": [2, "double"],
        "semi": [2, "always"],
        "block-spacing": [2, "always"],
        "brace-style": [2, "allman"],
        "keyword-spacing": [2, {"before": true, "after": true, "overrides": {}}]
    },
    "env": {
        "es6": true,
        "browser": true,
        "jquery": true,
        "qunit": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "modules": true
    },
    "parser": "babel-eslint"
}
